name: .NET Build & Test

on:
  pull_request:
    types: [opened, synchronize, reopened]
  push:
    branches:
      - master
      - develop
      - release/*
      - feature/*
      - hotfix/*
  schedule:
    - cron: '0 3 * * *'

env:
  configuration: 'Debug'
  NUGET_PACKAGES: ${{ github.workspace }}/.nuget/packages
  solution: 'Fluentify.sln'

permissions:
  contents: read
  pull-requests: write

jobs:
  build:
    name: Build & Test
    runs-on: windows-latest

    steps:
    - name: Checkout
      uses: actions/checkout@v5.0.1
      with:
        fetch-depth: 0
        
    - name: Use .NET SDKs
      uses: actions/setup-dotnet@v5
      with:
        dotnet-version: | 
          10.0.x

    - name: Cache NuGet Packages
      uses: actions/cache@v4.3.0
      with:
        path: ${{ github.workspace }}/.nuget/packages
        key: ${{ runner.os }}-nuget-${{ hashFiles('**/packages.lock.json') }}
        restore-keys: |
          ${{ runner.os }}-nuget-
    
    - name: Restore Nuget Packages for Solution
      run: dotnet restore ${{ env.solution }}

    - name: Build Solution
      run: dotnet build ${{ env.solution }} --configuration ${{ env.configuration }} --no-restore

    - name: Test Solution
      run: dotnet test ${{ env.solution }} --configuration ${{ env.configuration }} --no-build

    - name: Upload Code Coverage
      uses: codecov/codecov-action@5a1091511ad55cbe89839c7260b706298ca349f7
      with:
        token: ${{ secrets.CODECOV_TOKEN }}
